* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.btnsContainer div {
    margin-left:0.5rem !important;
}
